body {
  margin: 0;
  font-family: -apple-system, "Courier New", Courier, monospace,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(39, 39, 39);
  background: linear-gradient(
    90deg,
    rgba(39, 39, 39, 1) 0%,
    rgba(15, 15, 23, 1) 36%,
    rgba(138, 138, 138, 1) 100%
  );
  /* background-color: green; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
  font-weight: 600;
}
